<!DOCTYPE html>
<html>
<head>
    <title>Reverse secure proxy</title>
</head>
<body>
    <header> Reverse secure proxy</header>
    <form action="/home" method="post">
        <label for="nameid"> Inserte su nombre: </label><br>
        <input type="text" id="nameid" name="name"><br>
        <label for="password">Inserte su contraseña: </label><br>
        <input type="password" id="passwordid" name="password"/><br>
        <br>
        <br>
        <input type="submit" id="send_id"/>
    </form>
</body>
</html>
